html {
    min-height: 100%;
    position: relative;
}
body {
    margin: 0;
    margin-bottom: 110px;
}
.footer {
    background-color: #91aec4;
    position: absolute;
    bottom: 0;
    height: 100px;
    width: 100%;
    color: black;
    padding-top: 20px;
}