html {
    min-height: 100%;
    position: relative;
}
body {
    margin: 0;
    margin-bottom: 140px;
}
.footer {
    background-color: #91aec4;
    position: absolute;
    bottom: 0;
    height: 120px;
    width: 100%;
    color: black;
    padding: 20px 0 50px;
}