.App-header {
  background-color: #5f84a2 !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white !important;
}

.navbar{
  width: 100%;
}

img{
  width: 100%;
}

section{
  text-align: center;
  padding: 0 20px;
}

.h-50{
  height: 50vh;
}